<%= f.error_notification %>
<%= f.simple_fields_for :apartment, @apartment, wrapper: false do |a| %>
  <%= a.simple_fields_for(:address, @address, wrapper: false) do |address| %>
    <div class="form-group">
      <label for="tenant_rent_case_apartment_attributes_address_attributes_city_id" class="col-sm-2 control-label">請選擇縣市</label>
      <div class="col-sm-4">
        <%= address.input :city_id, collection: @cities, label: false, prompt: "縣市", input_html: {class: "apartment_address_attributes_city"}, wrapper: false %>
      </div>
      <label for="tenant_rent_case_apartment_attributes_address_attributes_district_id" class="col-sm-2 control-label">請選擇行政區</label>
      <div class="col-sm-4">
        <%= address.input :district_id, collection: [], label: false, prompt: "行政區", input_html: {class: "apartment_address_attributes_district col-sm-6"}, wrapper: false %>
      </div>
    </div>
    <div class="form-group">
      <label for="tenant_rent_case_apartment_attributes_address_attributes_street" class="col-sm-2 control-label">街道</label>
      <div class="col-sm-10">
        <%= address.input :street, label: false, class: "form-control", wrapper: false %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">公寓介紹</label>
    <div class="col-sm-10">
      <%= a.input :description, label: false, wrapper: false %>
    </div>
  </div>
<% end %>

<%= f.simple_fields_for :tenant_group, @tenant_group do |g| %>
  <%= g.hidden_field :user_id, value: current_user.id %>
  <%= g.input :title, label: "分租標題" %>
  <%= g.input :group_size, label: "徵求室友人數" %>
<% end %>
  
<%= f.input :price, label: "每月價格($新台幣)" %>

<%= render "user/apartments/address_initializer" %>