<%= f.error_notification %>

<%= f.simple_fields_for :apartment do |a| %>
  <%= a.input :discription, label: "公寓介紹" %>
<% end %>

<%= f.simple_fields_for :groups do |g| %>
  <%= g.input :name, label: "Group 名稱" %>
  <%= g.input :group_size, label: "分租人數" %>
  <%= g.hidden_field :organizer_id, value: current_user.id %>
<% end %>
  
<div class="form-inputs">
  <%= f.input :price, label: "價格($新台幣/月)" %>
</div>

<div class="form-actions">
  <%= f.button :submit, "張貼" %>
</div>