<h1>公寓列表</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>公寓名稱</th>
      <th>公寓敘述</th>
      <th>公寓狀態</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% @apartments.each do |apartment| %>
  <tr>
    <td><%= link_to(truncate(apartment.discription), user_apartment_path(apartment)) %></td>
    <td><%= apartment.discription %></td>
    <td><%= apartment.rent_cases.last.state rescue nil %></td>
    <!-- 依照公寓狀態改變按鈕 -->
    <td><%= link_to("編輯公寓資料", edit_user_apartment_path(apartment)) %></td>
    <td><%= link_to("出租公寓", new_user_apartment_rent_case_path(apartment)) %></td>

  </tr>
  <% end %>
  </tbody>
</table>
<%= link_to("登陸新公寓", new_user_apartment_path, class: "btn btn-info") %>
