<h1>登陸公寓</h1>

<%= simple_form_for(@apartment, url: user_apartments_path) do |f| %>
  <%= f.input :discription, label: "公寓介紹" %>
  <%= f.input :is_landlord, 
              label: "身份",
              as: :radio_buttons, 
              collection: [["我是房東", true], ["我是房客分租", false]] %>
  <%= f.simple_fields_for(:address, @address) do |address| %>
    <%= address.input :city_id, collection: @cities, prompt: "請選擇縣市", input_html: {class: "apartment_address_attributes_city"} %>
    <%= address.input :district_id, collection: [], prompt: "請選擇區域", input_html: {class: "apartment_address_attributes_district"} %>
    <%= address.input :street, label: "街道" %>
  <% end %>
  <%= f.button :submit, "登陸" %>
<% end %>
<%= render "user/apartments/address_initializer" %>