<%= simple_form_for(@profile, url: user_profile_path, method: :PUT) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nickname %>
    <%= f.input :gender %>
    <%= f.input :birthdate %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
