<% content_for :script_init_always do %>
  GoogleMapUtilAssist.init($('#map_canvas'));
  GoogleMapUtilAssist.showLocOnMap($('#rent_case_data'));
<% end %>

<%= @rent_case.price %>
<div id="rent_case_data" data-lng="<%=@rent_case.address.longitude%>" data-lat="<%=@rent_case.address.latitude%>" style="display:none"></div>
<div class="row">
  <table class="table col-sm-6">
    <thead>
      <tr>
        <th>人數</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_size %></td>
        <td><%= link_to("加入 Group", group_path(group)) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="col-sm-6">
    <div id="map_canvas" style="width:100%; height: 500px"></div>
  </div>
</div>