<h3>我發起的合租</h3>
<%= link_to("發起分租", new_user_share_case_path, class: "btn btn-info") %>
<table class="table">
  <thead>
    <tr>
      <th>合租名稱</th>
      <th>合租介紹</th>
      <th>人數</th>
    </tr>
  </thead>
  <tbody>
  <% @own_groups.each do |group| %>
    <tr>
      <td><%= link_to(group.name, user_group_path(group)) %></td>
      <td><%= truncate(group.description) %></td>
      <td><%= group.group_size %></td>
    </tr> 
  <% end %>
  </tbody>
</table>

<h3>我參與的合租</h3>
<table class="table">
  <thead>
    <tr>
      <th>合租名稱</th>
      <th>合租介紹</th>
      <th>人數</th>
    </tr>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to(group.name, user_group_path(group)) %></td>
      <td><%= truncate(group.description) %></td>
      <td><%= group.group_size %></td>
    </tr> 
  <% end %>
  </tbody>
</table>