<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("roommate club", root_path, class: "navbar-brand") %>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to("瀏覽分租", share_cases_path) %></li>
        <li><%= link_to("發起分租", new_user_share_case_path, class: "btn btn-info") %></li>
        <!-- <li><%#= link_to("發起合租", new_group_path) %></li> -->
        <% if current_user.present? %>
        <li><%= link_to("我的分租計畫", user_share_cases_path) %></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-landlord" data-toggle="dropdown">公寓管理<b class="caret"></b></a> -->
          <!-- <ul class="dropdown-menu" aria-labelledby="dropdown-landlord">
            <li><%#= link_to("登錄公寓", new_user_apartment_path, class: "btn btn-success") %></li>
            <li><%#= link_to("出租公寓列表", user_apartments_path) %></li>
          </ul> 
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdown-user" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>
          <ul class="dropdown-menu" aria-labelledby="dropdown-user">
            <li><%= link_to("個人資料", edit_user_profile_path) %></li>
            <li><%= link_to("登出", destroy_user_session_path, method: :DELETE) %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to("註冊", new_user_registration_path) %></li>
        <li><%= link_to("登入", new_user_session_path) %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>