<!DOCTYPE html>
<html>
<head>
  <title>Nestogether</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/topbar' %>
<div class="container-fluid">
<%= render 'layouts/notice_alerts' %>
  <div class="row">
    <div class="col-lg-offset-2 col-sm-offset-1 col-lg-8 col-sm-10">
    <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
