<!DOCTYPE html>
<html>
<head>
  <title>roommate club</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&sensor=FALSE">
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/topbar' %>
<div class="container content-wrapper">
<%= render 'layouts/notice_alerts' %>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
<div id="page_tag" data-tag="<%=controller_name+'#'+action_name%>"></div>
<script>
  pageInit(function(){<%= yield :script_init_always %>}, function(){<%= yield :script_init_once %>});
</script>
</body>
</html>
