<!DOCTYPE html>
<html>
<head>
  <title>Nestogether</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/topbar' %>
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to("個人資料", edit_user_profile_path) %></li>
        <li><%= link_to("出租公寓", user_apartments_path) %></li>
        <li><%= link_to("合租公寓", new_user_tenant_rent_case_path) %></li>
        <!-- <li><%#= link_to("我的案件列表", user_rent_cases_path) %></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
  <%= yield %>
  </div>
</div>

</body>
</html>