<!DOCTYPE html>
<html>
<head>
  <title>Nestogether</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/topbar' %>
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to("個人資料", edit_user_profile_path) %></li>
        <li><%= link_to("我的公寓列表", user_apartments_path) %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield %>

</body>
</html>